In [ ]:
!pip install sqlalchemy

In [7]:
import pickle
import pandas as pd

In [8]:
data = [{'name': 'Ajay'}]

with open('users.pk1', 'wb') as f:
    pickle.dump(data, f)

In [9]:
read_data = pickle.load(open('users.pk1', 'rb'))
print(read_data, type(read_data))

[{'name': 'Ajay'}] <class 'list'>

In [10]:
df = pd.DataFrame(data)
df.head()
df.dtypes

name    object
dtype: object

In [11]:
df.to_pickle('df_pkl')

In [12]:
df2 = pd.read_pickle('df_pkl')
df2.head()

   name
0  Ajay

In [13]:
df2.dtypes

name    object
dtype: object

In [14]:
df.to_csv('my_csv', index=False)

In [15]:
df3 = pd.read_csv('my_csv')
df3.head()

   name
0  Ajay

In [16]:
df3.dtypes

name    object
dtype: object

# SQLAlchemy

In [17]:
from dataclasses import dataclass

@dataclass
class Movie:
    name:str = 'Unknown'
    genre:str = 'Action'
    
#     def __init__(self, name=''):
#         self.name = name

In [18]:
my_movie = Movie(name='SkR')
my_movie.name
my_movie.genre

'Action'

In [19]:
my_movie.genre

'Action'

In [20]:
data = [
    {
        'name': 'King Kong',
        'genre': 'Action'
    },
    {
        'name': 'Passenger',
        'genre': 'Romantic'
    },
    {
        'name': 'Avenger',
        'genre': 'Action'
    },
    {
        'name': 'Arrival',
        'genre': 'Sci-Fi'
    }
]

In [21]:
df = pd.DataFrame(data)
df.head()

        name     genre
0  King Kong    Action
1  Passenger  Romantic
2    Avenger    Action
3    Arrival    Sci-Fi

In [22]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String

In [23]:
engine = create_engine('sqlite:///app.db')

In [24]:
Session = sessionmaker(bind=engine)

In [25]:
my_sess = Session()

In [26]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [27]:

class Movie(Base): # Table
    __tablename__ = 'movies'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    year = Column(Integer, nullable=True)
    
    def __repr__(self):
        return f'<Movie name={self.name}>'

In [28]:
Base.metadata.create_all(engine)

In [35]:
movie_obj = Movie(name='Passenger', genre='Romance')
print(movie_obj.name)

Passenger

In [36]:
movie_obj.id