In [30]:
import os
import pandas as pd

In [31]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [32]:
os.listdir(DATA_DIR)

['2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv']

In [33]:
my_items = [{'category': 'Food', 'title': 'This is food'}, {'category': 'Play', 'title': 'This is good playing'}, {'category': 'internet', 'title': 'This is google'}]
df = pd.DataFrame(my_items)

In [34]:
df.head()

   category                 title
0      Food          This is food
1      Play  This is good playing
2  internet        This is google

In [35]:
df['category']

0        Food
1        Play
2    internet
Name: category, dtype: object

In [36]:
df['title']

0            This is food
1    This is good playing
2          This is google
Name: title, dtype: object

In [38]:
df.iloc[0]

category            Food
title       This is food
Name: 0, dtype: object

In [39]:
df.iloc[1]

category                    Play
title       This is good playing
Name: 1, dtype: object

In [40]:
my_data = os.path.join(DATA_DIR, '2019.csv')
print(os.path.exists(my_data))

True

In [41]:
df2 = pd.read_csv(my_data)

In [42]:
df2.head(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
5,6,Joker,"$1,074,251,311","$335,451,311",31.2%,"$738,800,000",68.8%
6,7,Star Wars: Episode IX - The Rise of Skywalker,"$1,074,144,248","$515,202,542",48%,"$558,941,706",52%
7,8,Toy Story 4,"$1,073,394,593","$434,038,008",40.4%,"$639,356,585",59.6%
8,9,Aladdin,"$1,050,693,953","$355,559,216",33.8%,"$695,134,737",66.2%
9,10,Jumanji: The Next Level,"$796,575,993","$316,831,246",39.8%,"$479,744,747",60.2%

In [43]:
df2.tail(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
756,757,Serendipity,"$2,298","$2,298",100%,-,-
757,758,Jihadists,"$2,104","$2,104",100%,-,-
758,759,Jimi Hendrix Electric Church,"$1,818",-,-,"$1,818",100%
759,760,Game Day,"$1,624","$1,624",100%,-,-
760,761,American Playhouse: The Killing Floor,"$1,583","$1,583",100%,-,-
761,762,The Hours and Times,"$1,273","$1,273",100%,-,-
762,763,The Wolf Hour,"$1,255",-,-,"$1,255",100%
763,764,A Fish in the Bathtub 2019 re-release,"$1,237","$1,237",100%,-,-
764,765,The Untold Story,$790,$790,100%,-,-
765,766,The Portal,$685,-,-,$685,100%